@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "pearl";
    src: url("TAN-PEARL.otf");
}

@font-face {
    font-family: "agrandir";
    src: url("Agrandir-Variable.ttf");
}

@layer base {
    .carousel__pagination {
        position: absolute;
        bottom: 10px;
        z-index: 11;
        width: 100%;
    }
    
    .carousel__pagination-button:after{
        background-color: white !important;
        height: 12px !important;
        width: 12px !important;
        border-radius: 50% !important;
        opacity: 0.5;
        margin: 0 10px;
    }
    .carousel__pagination-button.carousel__pagination-button--active:after{
        opacity: 1;
    }
    
}